{{> menu}}

<form class="box" action="/bank/{{bank._id}}/updatebank/{{bank._id}}" method="POST">
  <label>Update Bank Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" name="title" value="{{bank.title}}">
      </div>
      <div class="field">
        <input class="input" type="text" name="date" value="{{bank.date}}">
      </div>
      <div class="field">
        <input class="input" type="text" name="other" value="{{bank.other}}">
      </div>
    </div>
  </div>
  <button class="button is-primary">Update Bank</button>
</form>
