{{> menu active=active}}

<section class="section">
  <h1 class="title">Transactions</h1>

  {{#if transactions.length}}
    <table class="table is-striped is-fullwidth">
      <thead>
        <tr>
          <th>Bank Name</th>
          <th>Date</th>
          <th>Name</th>
          <th>Amount</th>
          <th>Currency</th>
          <th>Pending</th>
        </tr>
      </thead>
      <tbody>
        {{#each transactions}}
          <tr>
            <td>{{this.institutionName}}</td>
            <td>{{this.date}}</td>
            <td>{{this.name}}</td>
            <td>{{this.amount}}</td>
            <td>{{this.isoCurrencyCode}}</td>
            <td>{{#if this.pending}}Yes{{else}}No{{/if}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <p>No transactions synced yet.</p>
  {{/if}}
</section>
