{{> menu active=active}}

<section class="section">
  <div class="has-text-centered">
    <h1 class="title is-2 has-text-weight-bold">
      Transactions
    </h1>

    <p class="mb-4">
      <span
        class="is-inline-block"
        style="width: 96px; height: 4px; background-color: #ffdd57; border-radius: 999px;"
      ></span>
    </p>

    <h2 class="subtitle is-5 has-text-grey-dark">
      All transactions synced to date. Head to Reports to filter and export
      <br>
      <br>
    </h2>
  </div>

  {{#if transactions.length}}
    <table class="table is-striped is-fullwidth">
      <thead>
        <tr>
          <th>Bank Name</th>
          <th>Date</th>
          <th>Name</th>
          <th>Amount</th>
          <th>Currency</th>
          <th>Pending</th>
        </tr>
      </thead>
      <tbody>
        {{#each transactions}}
          <tr>
            <td>{{this.institutionName}}</td>
            <td>{{this.date}}</td>
            <td>{{this.name}}</td>
            <td>{{this.amount}}</td>
            <td>{{this.isoCurrencyCode}}</td>
            <td>{{#if this.pending}}Yes{{else}}No{{/if}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <p>No transactions synced yet.</p>
  {{/if}}
</section>
